.car_bar .step01::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 1px solid #05141f;
    border-left: 1px solid #05141f;

    visibility: hidden;

    transition: 0.5s;
}




.car_bar .step01::after {
    position: absolute;
    bottom: 0;

    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1px solid #05141f;
    ;
    border-right: 1px solid #05141f;
    ;

    visibility: hidden;


    transition: 0.5s;
}


.car_bar .step01:hover::before {

    width: 100%;
    height: 100%;
    visibility: visible;
}


.car_bar .step01:hover::after {

    width: 100%;
    height: 100%;
    visibility: visible;
}


.car_bar .step02::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 1px solid #05141f;
    border-left: 1px solid #05141f;

    visibility: hidden;

    transition: 0.5s;
}




.car_bar .step02::after {
    position: absolute;
    bottom: 0;

    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1px solid #05141f;
    ;
    border-right: 1px solid #05141f;
    ;

    visibility: hidden;


    transition: 0.5s;
}


.car_bar .step02:hover::before {

    width: 100%;
    height: 100%;
    visibility: visible;
}


.car_bar .step02:hover::after {

    width: 100%;
    height: 100%;
    visibility: visible;
}



.car_bar .step03::before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-top: 1px solid #05141f;
    border-left: 1px solid #05141f;

    visibility: hidden;

    transition: 0.5s;
}




.car_bar .step03::after {
    position: absolute;
    bottom: 0;

    right: 0;
    content: "";
    display: block;
    width: 0;
    height: 0;
    border-bottom: 1px solid #05141f;
    ;
    border-right: 1px solid #05141f;
    ;

    visibility: hidden;


    transition: 0.5s;
}


.car_bar .step03:hover::before {

    width: 100%;
    height: 100%;
    visibility: visible;
}


.car_bar .step03:hover::after {

    width: 100%;
    height: 100%;
    visibility: visible;
}




.content .con {
    gap: 30px;
    display: flex;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;

}

figure {
    position: relative;
    flex: 1;
    overflow: hidden;

}


 .cover {
    position: absolute;
    inset: 0 auto auto 100%;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;

    /* opacity: 0.8;
    background: rgba(0, 0, 255); */
    background: #ddd;
   
    color: #fff;
    padding: 50px 30px;
    transition: 0.5s
}

.cover a {
    background: #333;
    padding: 5px 10px;
    margin: auto 0 0 0;
    align-self: flex-start;
}



.content figure:hover .cover {

    inset: 0 auto auto 0;
}

